DATABASE_URL=file:./dev.db
SEED_EMAIL=your_email_here

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rainbowroundupdevelopment@gmail.com
SMTP_PASS=aksl uyuy ywgy zutd
SMTP_FROM=rainbowroundupdevelopment@gmail.com